<div class="container">
    <div class="row">
        <div class="col l12">
            <h1 class="center-align">The morning briefing...</h1>
        </div>
    </div>
</div>

<div class="container-fluid main">
    <div class="row">
        <div class="col l6">
            <div id="articles"></div>
        </div>
        <div class="col l6">
            <div id="notes">
                <h2 class="center-align">Select a Headline to make a note!</h2>
                  <i class="material-icons center-align">note_add</i>

            </div>
        </div>
    </div>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="./app.js"></script>